<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!--An include function to include a partial to the ejs files -->
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
       OOPS, page not found :)

    </div>

    <!-- import the footer partial -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>