<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!--An include function to include a partial to the ejs files -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Don't expect a serious line for an about. this is just a just a test subject</p>

    </div>

    <!-- import the footer partial -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>